{% extends 'base.html.twig' %}
{% block title %}Recettes{% endblock %}
{% block body %}
    <h1>Liste des recettes</h1>
    <hr>
    <div class="container">
        <div class="row">

            <table class="table table-bordered table-striped table-condensed">
                <thead class="thead-dark">
                <tr class="align-self-center">
                    <th colspan="2" scope="col" style="text-align: center; font-size: 40px; font-style: italic; font-family: Noteworthy; text-transform: uppercase;">les recettes</th>

                </tr>
                </thead>
                <tbody>
                {% for recette in recettesList %}
                    <tr aria-rowspan="2">
                        <td><img class="figure-img" width="100" src="{{ asset(recette.image) }}"></td>
                        <td>{{ recette.name }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
            <h6 class="font-small">
                {% if totalPage is defined %}
                    <ul class="pagination">
                        {% for page in 1..totalPage %}
                            <li class="page-item{% if currentPage == page %} active {% endif %} ">
                                <a class="page-link"
                                   href="{{ path('index', {'page' : page}) }}">{{ page }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

            </h6>
        </div>
    </div>
{% endblock %}


